<!DOCTYPE html>
<html>
<head>
    <title>Webify Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/static/dashboard.css" media="screen"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/rstatic/favicon32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/rstatic/favicon16.png">
</head>
<body>
<div class="dashboard">
    <h2>Dashboard</h2>
    <div class="devices">
        <div class="devrow">
            <div class="devcell">
                <img src="/rstatic/webify.png" height="64" width="64"><br>
                Available devices: <br>
                <ul class="devlist">
                {{#each devices as |dev|}}
                    <li class="devitem"><a href="{{dev}}">{{dev}}</a></li>
                {{/each}}
                </ul>
            </div>
        </div>
        <div class="logout">
            <a href="../logout">Log out</a>
        </div>
    </div>
    <div class="info">
        <div class="inforow">
            <div class="infocell">
                Info: <br>
                {{#if err}}
                    {{err}}
                {{else}}
                    {{{subpage}}}
                {{/if}}
            </div>
        </div>
    </div>
</div>
</body>
</html>